$white: #FFF;
$black: #000;
$grey: #353535;
$red: #e53f54;
$lgrey: #797979;
$body: 'Roboto', sans-serif;
$head: 'AmericanTypewriter', sans-serif;
$awe: 'FontAwesome';
.transitionRegular {
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	transition:all 0.3s linear;
}
.appear {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
.backface {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
} 
